.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 12px;
  }
  
  .home {
    display: flex;
    align-items: center;
  }
  
  .home h1 {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid lightgrey;
    font-size: 18px;
  }

  .fa-instagram {
      margin-left: 10px;
  }
  
  .explore {
    width: 100px;
    display: flex;
    justify-content: space-between;
  } 
  