.commentSection {
    margin-top: 0px;
}

.timeStamp {
    color: darkgray;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
}

.addComment {
    border: 0px solid white;
    border-top: 1px solid grey;
    padding: 10px 0px;
    width: 580px;
}

.commentSection .addComment:focus {
    outline: none;
} 