
.commentSection {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-bottom: 10px;
  }

.timeStamp {
    color: darkgray;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 0px;
    border-bottom: 1px solid grey;
}

.addComment {
    padding: 10px 0px;
    margin-top: 10px;
    width: 480px;
    border: 0px solid white;
}

.addComment:focus {
    outline: none;
} 