.thumbnail {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.image {
    display: flex;
    margin: 0px -10px;
    width: 500px;
    height: 500px;
} 

/* container for small user image and login name */
.container-name {
    display: flex;
    flex-direction: row;
    width: 480px;
    height: 35px;
}

.container-user {
    margin:0 auto;
}

h5 {
    display: flex;
    font-size: 12px;
    margin: 0.5% 0% 0% 2%;
}

h6 {
    display: flex;
    font-size: 12px;
    margin: 0% 1% 1% 0%;
}

p {
    display: flex;
    font-size: 12px;
    margin: 0% 1% 0% 0%;
    width: 480px;
}
