.thumbnail {
    margin: 2% 2%;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.image {
    display: flex;
    margin:0 auto;
    width: 400px;
    height: 400px;
} 

.container-name {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 400px;
}

.container-user {
    margin:0 auto;
}

h6 {
    display: flex;
    margin: 0% 1% 1% 0%;
}

p {
    display: flex;
    margin: 0% 1% 1% 0%;
    font-size: 12px;
}